데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,  
'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,  
'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [1]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv('/Users/greedy/Downloads/basic1.csv')

In [39]:
data.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [40]:
data2 = data.sort_values('f5', ascending = False)

In [41]:
min = data2.iloc[:10]['f5'].min()

In [42]:
data2.iloc[:10]['f5'] = min

/var/folders/3c/6rc19g3n3p9ctq6gjs0d2c_40000gn/T/ipykernel_82804/2035240062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.iloc[:10]['f5'] = min

In [43]:
data2[data2['age']>80]['f5'].mean()

61.993717579999995

문제2  
데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,  
'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고  
두 표준편차 차이 계산하기

In [45]:
len(data) * 0.7

70.0

In [74]:
#data3 = data.iloc[:70, :]
data70, data30 = np.split(data, [int(0.7*len(data))])

In [75]:
data70

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4   id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
..   ...   ...  ...   ...  ..  ...   ...        ...
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
67  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373
68  id69  75.0   경기  85.0   0  NaN  ESTJ  69.730313
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184

[70 rows x 8 columns]

In [76]:
std1 = data70['f1'].std()
std1

17.98727579865276

In [77]:
data70['f1'].median()

68.0

In [80]:
data70['f1'].fillna(data70['f1'].median(), inplace=True)

In [83]:
std2 = data70['f1'].std()

In [84]:
std1-std2

3.2965018033960725

문제3  
데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!\
단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [90]:
data['age'].describe()

count    100.000000
mean      50.963000
std       30.442759
min      -13.500000
25%       26.875000
50%       52.500000
75%       77.000000
max      100.000000
Name: age, dtype: float64

In [91]:
er = data['age'].std()*1.5

In [95]:
mean = data['age'].mean()
mean

50.963

In [96]:
m1 = mean-er
m2 = mean+er

In [97]:
print(m1, m2)

5.298862216116952 96.62713778388306

In [100]:
data[(data['age'] > m2) | (data['age'] < m1)]['age'].sum()

473.5